* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #f76b05;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    color: #f76b05;
    background-color: #fff;
}

ul {
    list-style: none;
}

/* --------- HEADER ---------  */

header {
    background-color: #000009;
    width: 100%;
    text-align: center;
}

header img {
    width: 75px;
    height: auto;
}

header nav ul li {
    padding: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 4px;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: #f76b05;
}

#logo {
    display: none;
}

/* --------- BANNER ---------  */

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("images/bts-banner.jpeg");
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text-wrapper {
    text-align: center;
    margin-bottom: 150px;
    padding: 20px;
}

.banner h1 {
    color: #fff;
    font-size: 40px;
}

.banner h2 {
    color: #fff;
    font-weight: 200;
}

.banner button {
    margin: 30px;
}

/* ------- EVENT DETAILS ------- */

section.details {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
}

div.details-wrapper {
    max-width: 1000px;
}

div.details-text {
    margin: 20px;
}

div.details-text h2 {
    margin-bottom: 5px;
}

div.details-text h3 {
    color: #f76b05;
    font-weight: 200;
    margin-bottom: 20px;
}

div.details-text p {
    margin: 20px 0;
    line-height: 30px;
}

div.details-img {
    margin: 15px;
}

div.details-img img {
    width: 100%;
}

/* ------- FOOTER ------- */

footer {
    background-color: #000009;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    max-width: 1000px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {

}

footer ul li a {
    text-decoration: underline;
    color: #fff;
    padding: 15px;
    display: block;
}

footer p {
    color: #fff;
    padding: 15px;
    display: block;
    text-align: center;
}


/* ------- MEDIUM SCREENS ------- */

@media only screen and (min-width: 700px) {
    div.details-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


/* ------- LARGE SCREENS ------- */

@media only screen and (min-width: 500px) {
    header {
        position: fixed;
        background-color:rgba(0, 0, 0, 0.5);
    }

    header nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo {
        padding: 16px;
        display: block;
    }

    header nav ul li {
        padding: 20px;
    }

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
    }
}