* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* --------- SMALL SCREENS --------- */

#logo {
    display: none;
}

header nav ul li {
    padding: 10px;
}

/* --------- HEADER ---------  */

header {
    background-color: #000009;
    /* position: fixed; */
    width: 100%;
    text-align: center;
}

header img {
    width: 75px;
    height: auto;
}

header nav ul li {
    list-style: none;
    
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 4px;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: #f76b05;
}

/* --------- BANNER ---------  */

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("images/bts-banner.jpeg");
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text-wrapper {
    text-align: center;
    margin-bottom: 150px;
    padding: 20px;
}

.banner h1 {
    color: #fff;
    font-size: 40px;
}

.banner h2 {
    color: #fff;
}

.banner button {
    margin: 30px;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #f76b05;
    transition: 0.3s;
}

.banner button:hover {
    cursor: pointer;
    color: #f76b05;
    background-color: #fff;
}

/* ------- LARGE SCREENS ------- */

@media only screen and (min-width: 500px) {
    header {
        position: fixed;
        background-color:rgba(0, 0, 0, 0.5);
    }

    header nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo {
        padding: 16px;
        display: block;
    }

    header nav ul li {
        padding: 20px;
    }
}